rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Apertura total de permisos para agilizar la edición y evitar errores de publicación
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
